.footer {
  padding: 60px 0;
  border-top: 1px solid #ccc;
}

.footer .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .colum .title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer_list0-item {
  padding: 6px 0;
  font-size: 1.4rem;
  color: #555555;
  cursor: pointer;
}

.footer_list0-item:hover {
  color: var(--color-hover);
}

.footer_icon {
  margin-right: 15px;
}
